
<nav class="navbar py-0 navbar-dark shadow-sm"> 
    <div class="container-fluid">
        <a class="" routerLink="/home"><br>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLB64tILPGI9nzb6njM_qzeEDqAKhV0g3GQifeC-uwSb-iXW1AQ9Hfrw7VT_BZ8DEKbFM&usqp=CAU" alt="" width="55" height="45" style="float :left">
            <h3 class="text" style="font-family: 'Times New Roman', Times, serif;"><strong><em> &nbsp;&nbsp;Deals and Coupons Finder</em></strong></h3>
          </a>
      <br>
    <div class="from-inline">
        <button class="btn btn-outline-btn" routerLink="/home" >Home</button>
        <button class="btn btn-outline-btn" routerLink="/products" >Deals</button>
        <button class="btn btn-outline-btn" routerLink="/topheading" >News</button>
        <button class="btn btn-outline-btn" routerLink="/aboutus" >About Us</button>
    </div>
    <br>
    </div>
</nav>
