<div class="footer"><hr>
      <div class="container">
          <div class="row">
              <div class="col-sm-4">
                    <h3 class="card-title">Address</h3>
                    <p class="card-text"><small>Capgemini ,<br>Main branch ,<br>Bangalore ,<br>Pin Code 55555 </small></p>
              </div>
              <div class="col-sm-4">
                    <h3 class="card-title">Team</h3>
                    <p class="card-text"><small> ROHIT <br> AHITAGNI <br> AAYUSHI <BR>SUNDHAR </small></p>
                    
              </div>
              <div class="col-md-4 grid-margin stretch-card">
                  
                      <h3 class="card-title">Social Links</h3>
                      <div class="template-demo">
                        <button onclick="location.href='https://facebook.com';" type="button"  class="btn btn-social-icon btn-outline-facebook"><i  class="fa fa-facebook"></i></button>
                        <button onclick="location.href='https://www.youtube.com';" type="button" class="btn btn-social-icon btn-outline-youtube"><i class="fa fa-youtube"></i></button>                                        
                        <button onclick="location.href='https://www.twitter.com';" type="button" class="btn btn-social-icon btn-outline-twitter"><i class="fa fa-twitter"></i></button>
                        <button onclick="location.href='https://www.instagram.com';" type="button" class="btn btn-social-icon btn-outline-instagram"><i class="fa fa-instagram"></i></button>
                      </div>
                </div>
            </div>
      </div>
      <br><br><br>
  </div>