<app-header></app-header>
<div class="rightele"><img src="https://i.shgcdn.com/9a170f97-0185-4c4a-be99-b9de69d04c7c/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="5 Terre" style="width:100%">
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
        <div class="card">
            <div class="text-center">
                <h1>Login</h1>
                <hr>
            </div>
            <form  [formGroup]="loginForm" alt="5 Terre" style="width:100%" #LoginForm="ngForm" (ngSubmit)="getLoginDets(LoginForm.value)">
                <div class="form-group">
                  <label >Email address</label>
                  <input type="email" ngModel name="email" class="form-control" placeholder="email" formControlName="email">
                  <span style="color: red;" *ngIf="email && email.invalid && email.touched">Invalid Email</span><br><br>
                  <br>
                  <label >Password</label>
                  <input type="password" ngModel name="password" class="form-control"   placeholder="password" formControlName="password">
                  <span style="color: red;" *ngIf="password && password.invalid && password.touched">Invalid Password</span><br><br>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid"> Login </button>
                
              </form><br>
              <a routerLink="/signup">SignUp</a><br>
              <small>If you are not registered</small>
              <br>
              <a routerLink="/admin-login">Login</a><br>
              <small>If you are Admin</small>
              <br>
        </div>
        </div> 
    </div>
</div>