<app-header></app-header>
<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-body" style="font-family: 'Times New Roman', Times, serif;">
                    <h1 class="card-title"><strong>ABOUT US</strong></h1><br>
                    <h2><em><strong>At Deals and Coupons Finder</strong></em></h2><br>
                    <p class="card-text">We help you save money through our comprehensive listing of coupons, offers, deals and discounts <br>
                        from top online brands and websites. <br>You can also earn reliable Cashback on top of the merchant discounts every time you shop through us. <br>You can make better shopping decisions through our websites.</p>
                    <p class="card-text">Our aim is to create a generation of smart shoppers by empowering customers to make the best possible choices.</p> 
                    <br><h5 class="card-text"><strong> We sweeten everyday deals and makes online shopping more rewarding.</strong></h5>
                </div>  <br>   
            </div>
        </div>
    </div>
</div>