<div class="container-fluid">
    <div class="card text-center">
        <div class="card-body" style="font-family: 'Times New Roman', Times, serif;"><br><br>
            <button type="submit" class="b " routerLink="/home" >Logout</button>
            <h1 class="card-title"><strong><em>WELCOME<br><br>ADMIN<br><br>  </em></strong></h1><br>
            <h2><em><strong>Edit Deals and Coupons </strong></em></h2><br>

            <br>
            <button class="txt" routerLink="/addDeals" >Add Deals</button>
            <button class="txt" routerLink="/deleteDeals" >Delete Deals</button>
            <button class="txt" routerLink="/addCoupons" >Add Coupons</button>
            <button class="txt" routerLink="/deleteCoupons" >Delete Coupons</button>
            <br>
           <br><h2 class="card-text"><strong>Edit everyday deals and make online shopping more rewarding.</strong></h2>
        </div>  <br>   
    </div>
</div>


