.recentNews {
    background-color: rgb(50, 142, 199)  
}
.recentNews .news-title {
    text-align:center;
    padding-top:30px;
    padding-bottom:20px;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-size:55px;
    font-weight:bold;
    color: #fff;
}
.recentNews .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
.recentNews .ct-blog {
    margin-bottom: 30px;
}
.ct-blog .inner {
    background-color: rgb(255, 255, 255);
    padding: 60px;
    
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    height: 100%;
}
.ct-blog .inner:hover {
    background-color: #b5b5b5;
}
.ct-blog .fauxcrop {
    height: 150px;
    width: auto;
    overflow: hidden;
}
.ct-blog .fauxcrop img {
    width: 150px;
}
.ct-blog-content {
    display: table;
    padding: 30px 0 28px;
}
.ct-blog-content .ct-blog-date {
    border-right: 1px solid #95A5A6;
    display: table-cell;
    font-family: "Lato", sans-serif;
    padding: 0px 15px 0px 15px;
    text-align: center;
}
.ct-blog-content .ct-blog-date span {
    font-size: 16px;
    color: rgb(20, 117, 175);  
    font-weight: 700;
    display: block;
    line-height: 1;
}
.ct-blog-content .ct-blog-date strong {
    font-size: 25px;
    color: rgb(20, 117, 175);  
}
.ct-blog-content .ct-blog-header {
    color: #000;
    display: table-cell;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: auto;
    padding: 0 10px;
    vertical-align: top;
}
.checked {
    color: orange;
  }
.btn-news.btn-contests a {
    color: #fff;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-size: 24px;
    transition: all 0.2s ease-in-out 0s;
}
.btn-news.btn-contests a:hover {
    color: #000;
}
img{
    width: 100%;
    height: auto;
}
.t{
    float: right;
}