<section class="recentNews">
    <img src="https://img.grouponcdn.com/deal/2tAnk37ijij5aDNVDD51MbcSVEG9/2t-1680x250" >
      <div class="container">
        <button type="submit" class="t" routerLink="/after-admin-login">Back</button>
  
        <h2 class="news-title">Deals</h2>
        <div class="row">
            <table *ngFor="let deals of Deals">
                <tr>
                  <th class="name" style="width: 70%;"> {{deals.prodName}}</th> 
                  <th style="width: 20%;">{{deals.prodPrice}}</th>
                  <th><button (click)="delDeals(deals.prodName)">Delete</button></th>
                </tr>
              </table>
        </div>
    </div>
</section>
