<app-header></app-header>
<app-navbar></app-navbar>
<img src="https://images-eu.ssl-images-amazon.com/images/G/31/sshabari/subcat/xcm_banners_2022_janart_1500x300-headline-subtext-badge-product1-product2-cocd9gfwih-2-nrx8c_1500x300_in-en.jpg" alt="5 Terre" style="width:100%">
<div class="container-fluid">
<br>
   <div class="rightele">
     <img src="https://m.media-amazon.com/images/S/al-eu-726f4d26-7fdb/6c8877a5-e83e-4dc2-b3e5-269b50ba1927.jpg" alt="5 Terre" style="width:100%">
    </div>
   <div class="leftele">
        <img src="https://tpc.googlesyndication.com/simgad/13819017744080435628" alt="Norther Lights" style="width:100%">
    </div>
    
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-body" style="font-family: 'Times New Roman', Times, serif;">
                            <h4 class="animate-charcter"> WE PROVIDE !<br><br> Best <br>Deals <br>and<br> Coupons</h4>
                        </div>   
                    </div>
                </div>
            </div>
        </div>







</div>  
<img src="https://images-eu.ssl-images-amazon.com/images/G/31/sshabari/esrlaunch/xcm_banners_2022_janart_1500x300-headline-subtext-badge-product1-product2-cocd9gfwih-2-t2a18_1500x300_in-en.jpg" alt="5 Terre" style="width:100%">

<div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card text-center">
                    <div class="card-body" style="font-family: 'Times New Roman', Times, serif;">
                        <h1 class="card-title"><strong>ABOUT US</strong></h1><br>
                        <h2><em><strong>At Deals and Coupons Finder</strong></em></h2><br>
                        <p class="card-text">We help you save money through our comprehensive listing of coupons, offers, deals and discounts <br>
                            from top online brands and websites. <br>You can also earn reliable Cashback on top of the merchant discounts every time you shop through us. <br>You can make better shopping decisions through our websites.</p>
                        <p class="card-text">Our aim is to create a generation of smart shoppers by empowering customers to make the best possible choices.</p> 
                        <br><h4 class="card-text"><strong> We sweeten everyday deals and makes online shopping more rewarding.</strong></h4>
                    </div>  <br>   
                </div>
            </div>
        </div>
    </div>



<!--
    <section class="container-fluid">
    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/sshabari/subcat/xcm_banners_2022_janart_1500x300-headline-subtext-badge-product1-product2-cocd9gfwih-2-nrx8c_1500x300_in-en.jpg" >
    <div class="rightele"><img src="https://m.media-amazon.com/images/S/al-eu-726f4d26-7fdb/6c8877a5-e83e-4dc2-b3e5-269b50ba1927.jpg"></div>
    <div class="leftele"><img src="https://tpc.googlesyndication.com/simgad/13819017744080435628"></div>
</section>

    
    
    
    
    img src="https://images-eu.ssl-images-amazon.com/images/G/31/sshabari/subcat/xcm_banners_2022_janart_1500x300-headline-subtext-badge-product1-product2-cocd9gfwih-2-nrx8c_1500x300_in-en.jpg" >
<aside><img src="https://m.media-amazon.com/images/S/al-eu-726f4d26-7fdb/6c8877a5-e83e-4dc2-b3e5-269b50ba1927.jpg">
</aside>
https://tpc.googlesyndication.com/simgad/13819017744080435628
https://i.shgcdn.com/13ef14eb-b2f8-4351-b067-6b4253c5fea6/-/format/auto/-/preview/3000x3000/-/quality/lighter/
<img src="https://images-eu.ssl-images-amazon.com/images/G/31/sshabari/esrlaunch/xcm_banners_2022_janart_1500x300-headline-subtext-badge-product1-product2-cocd9gfwih-2-t2a18_1500x300_in-en.jpg"-->
