<div class="container-fluid">
            <div class="card text-center">
                <div class="card-body text-center" style="font-family: 'Times New Roman', Times, serif;"><br><br>
                    <button type="submit" class="b" (click)="logout()" >Logout</button><br>
                    <h1 class="text-center"><strong><em>  <br>Start<br>Shopping<br>Now <br>  </em></strong></h1><br>
                    <h2><em><strong>Find your Deals and Coupons</strong></em></h2><br>
                    <br>
                    <button class="txt" routerLink="/coupons" >Coupons</button><br><br>
                   <br><h2 class="card-text"><strong> We sweeten everyday deals and makes online shopping more rewarding.</strong></h2>
                </div>  <br>   <br>
            </div>
        </div>
    

